@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Noto+Sans+Indic+Siyaq+Numbers&family=Noto+Sans:wght@700;900&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
}

#container{
    width: 100%;
    height: 1000px;
    background-color: #F0F2F5;
}

#cabecalho{
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    color: #0866FF;
    margin-left: 43%;
    padding-top: 50px;
}

#caixaEntrar{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    width: 29%;
    height: 39%;
    margin-left: 35.5%;
    margin-top: 0.8%;
    text-align: center;
    border-radius: 7px;
    
}

#labelEntrar{
    padding-top: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}