@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Noto+Sans+Indic+Siyaq+Numbers&family=Noto+Sans:wght@700;900&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
}

#container{
    width: 100%;
    height: 1000px;
    background-color: #F0F2F5;
}

#cabecalho{
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    color: #0866FF;
    margin-left: 43%;
    padding-top: 50px;
}

#caixaEntrar{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    width: 33%;
    height: 44%;
    margin-left: 33.8%;
    margin-top: 0.9%;
    text-align: center;
    border-radius: 7px;
    
}

#labelEntrar{
    padding-top: 6%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#user{
    width: 90%;
    height: 55px;
    margin-top: 7%;
    border-radius: 5px;
    border: 1px solid #DDDFE2;
    outline: 0;
    
}

#password{
    width: 90%;
    height: 55px;
    margin-top: 3%;
    border-radius: 5px;
    border: 1px solid #DDDFE2;
    outline: 0;
    
}

#user::placeholder{
    padding-left: 15px;
    font-size: 17px;
    color: #90949C;
}

#password::placeholder{
    padding-left: 15px;
    font-size: 17px;
    color: #90949C;;
}